body {
  font-family: Public Sans;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.pageLogo {
  margin: 1vh 1vw;
}



form div {
  margin: 1em;
  display: inline-block;
}

/* Header */

header {
  display: flex;
  position: fixed;
  z-index:2;
  padding: 10px;
  width: calc(100% - 8em);
  margin: 0 4em;
  color: #fff;
  border-radius: 0 0 2em 2em;
  background-color: rgb(81, 119, 95);
  opacity: .8;
}


/* Navigation Bar */

nav a {
  display: inline-block;
  color: black;
  margin: 0vw 1vw;
  text-transform: uppercase;
}

header nav a:hover {
  text-decoration: underline;
}

header .navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarRightLinks {
  margin: 0vh 1vw;
}

/*Footer */

footer {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(81, 119, 95);
}

/* Carousel/ Slider */
#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

#carousel-text {
  position: absolute;
  right: 25vh;
  top: 35vh;
  color: rgb(81, 119, 95);
  align-content: flex-end;
  
  z-index: 1;
}

.carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}

/* Welcome User Block */

.welcomeUser {
  margin: 0vw 1vw;
}

/* Button for Logging in and out */

.signButton {
  background-color: white;
  border: black solid 1px;
  color: black;
  padding: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Landing Page */

.categoryButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categoryBut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 25px;
  padding: 5px;
  margin: 20px 10px;
  background-color: rgb(54, 88, 67);
  
  /* previously blue: rgb(115, 192, 251) */

  text-decoration: none;
  color: white;
}

.productNameViewAll {
  height: 5vh;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.landingImageBlock {
  display: flex;
  justify-content: center;
}

#landingPageImage {

  width: 85vw;
  height: 90vh;
  object-fit:cover;
  object-position:50% 55%;
}

/* All Product View */

.searchBarBlock {
  margin: 0vw 1vw;
}

.allProductsTitle {
  margin: 0vw 1vw;
}

.allView{
  width:100%;
  height:60vh;
  object-fit:cover;
  object-position:50% 50%;
}

.allProductsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.allProducts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px #4CAF50 solid;
  padding: 5px;
  margin: 10px;

  width: 20vw;
  height: 70vh;
}

.allProducts a {
  color: black;
}

.allProducts a:hover {
  text-decoration: underline;
}

.itemPrice {
  align-self: flex-end;
}

/* Single Product View */

.singleProductImage {
  width: 75vw;
}


/* Sign Up */

.signupform {
  margin: 0vw 1vw;
}


/* Cart */

.cart-container {
  padding: 3rem 5rem;
}

.cart-container h1{
   font-weight: 300;
   font-size: 26px;
   text-align: center;
}

.cart-container .cartHeaders {
  font-size: 14px;
  font-weight: 300px;
  text-transform: lowercase;
}

.cart-item {
  border-top: 1px solid rgb(187,187,187);
  padding: 1rem 0;
  
}

.cart-item,.cart-container .cartHeaders {
  display:grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 0.5rem;
  

}

.cart-item .cartproduct {
  display: flex;
}

.cart-item .cart-product img {
  width: 250px;
  max-width: 100%;
  margin-right: 2rem;
}

.cart-item .cart-product p {
  font-size: 10px;
}

.cart-item-price {
   justify-self: right;
   font-weight: 400px;
}

.cart-item .cart-product h3 {
  font-weight: 300px;
}


.cart-item .cart-product .item-amount {
 display: flex;
 justify-content: center;
 width: 130px;
 align-items: center;
 border: 0.5px solid rgb(177, 177, 177);
 border-radius: 5px;

}

.cart-item .cart-product .cart-item-price {
  display: flex;
  justify-content: center;
  width: 130px;
  align-items: center;
}


/* Order History */

.orderHistory {

  padding: 3rem 5rem;
}

.orderHistoryTitles {
  font-size: 14px;
  font-weight: 300px;
  text-transform: lowercase;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order {
  border-top: 1px solid rgb(187,187,187);
  padding: 1rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item,.cart-container .cartHeaders {
  display:grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  column-gap: 0.5rem;
}

.cart-item .cartproduct {
  display: flex;
}

.cart-item .cart-product img {
  width: 250px;
  max-width: 100%;
  margin-right: 2rem;
}

.cart-item .cart-product p {
  font-size: 10px;
}

.cart-item-price {
   justify-self: right;
   font-weight: 400px;
}

.cart-item .cart-product h3 {
  font-weight: 300px;
}

.cart-item .cart-product .item-amount {
 display: flex;
 justify-content: center;
 width: 130px;
 align-items: center;
 border: 0.5px solid rgb(177, 177, 177);
 border-radius: 5px;
}

.cart-item .cart-product .cart-item-price {
  display: flex;
  justify-content: center;
  width: 130px;
  align-items: center;
}